#Dependencias
node_modules/

#Entorno
.env

#Logs
*.log
logs/

#Test
coverage/

#Build
dist/
build/
#service account
apps/api/secrets/*.json
#.nuxt
apps/web/.nuxt/
apps/web/.output/
apps/api/secrets/
apps/web/node_modules
